// Place all the styles related to the Capes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
    font-family: Calibri, sans-serif;
    font-size: small;
    margin-left: 10px;
}

.other_actions {
    font-family: Calibri, sans-serif;
}
